/* Estilo general de la aplicación */
.app-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212; /* Fondo oscuro */
  color: #ffffff; /* Texto claro */
  min-height: 100vh;
  padding: 20px;
  font-family: "Arial", sans-serif;
  margin: 0;
  width: 103%
}

.app-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #ffcc00; /* Color dorado */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

/* Grid de películas */
.MovieList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;
  padding: 20px;
  width: 100%; /* Ocupa todo el ancho */
  max-width: 1200px; /* Máximo ancho */
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Tarjetas de películas */
.movie-card {
  background-color: #1f1f1f; /* Fondo oscuro para la tarjeta */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(255, 255, 0, 0.7);
}

.movie-image {
  width: 100%;
  height: auto; /* Mantiene la proporción original */
  display: block; /* Evita espacios extra alrededor de la imagen */
}

.movie-card h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  color: #ffcc00;
}

.movie-card p {
  font-size: 1rem;
  margin: 0 10px 10px;
  color: #d3d3d3;
  text-align: center;
}

/* Footer */
.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #888;
  width: 100%;
}

.footer a {
  color: #ffcc00;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
  .MovieList {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}

@media (max-width: 480px) {
  .MovieList {
    grid-template-columns: repeat(1, 1fr); /* 1 columna */
  }
}
